<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        img{
            width: 300px;

        }
        .main{
            padding: 0;
            margin: 25em;
            background-color: aqua;
            width: 50vw;
            border: 2px solid black;
        }
        .name{
            font-size: 30px;
            font-weight: 700;
            color: brown;
        }
    </style>
</head>
<body>
    <div class="main">
        <h2>hello ji</h2>
        <h4>this is <p class="name">suraj</p></h4>
        <img src="IMG20231230182536.jpg" alt="">
    </div>
</body>
</html>